<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <title>Wireframe Preview</title>
    <style>
      * { box-sizing: border-box; }
      body { margin: 0; padding: 0; font-family: system-ui, -apple-system, sans-serif; }
    </style>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/preview.js"}>
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
